Architecture: iphoneos-arm
Author: ren7995
Depends: firmware (>= 13.0), mobilesubstrate, preferenceloader, ws.hbang.alderis (>= 1.1)
Conflicts: com.irepo.boxy4, me.kritanta.homepluspro
Description: A proper homescreen layout editor for iOS 14
Maintainer: ren7995
Name: Atria
Package: me.lau.atria
Section: Tweaks
Version: 1.2.0
